/*global parameters*/
body{
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    color: #333;
}

/*style for container class*/
container{
    width: 80;
    margin: 25px auto;
    max-width: 880px;
    background: #fff;
    padding: 20px 30px;
    box-shadow: 4px 8px rgba(0,0,0,0.1);
    border-radius: 7px;
}

/*style for header*/
header{
    text-align: center;
    margin-bottom: 25px;
}

h1{
    margin: 0;
    font-size: 2.5 em;
    color: #333;
}
p{
    margin: 0.5 em;
    color: #666;
}
section{
    margin-top: 25px;
    margin-bottom: 55px;
}
h2{
    border-bottom: 2px;
    padding-bottom: 15px;
    color: #3498eb;
    font-size: 1.5em;
    margin-bottom: 10px;
}

